<mat-card>
    <mat-card-header>
        <mat-card-title>{{ 'CREATE.TITLE' | translate }}</mat-card-title>
        <mat-card-subtitle>{{ 'CREATE.SUBTITLE' | translate }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <webcam *ngIf="showWebcam"
                [trigger]="triggerObservable"
                (imageCapture)="handleImage($event)"></webcam>
    </mat-card-content>
    <mat-card-actions>
        <button
                (click)="showWebcam = !showWebcam"
                color="primary"
                mat-raised-button>
            {{ showWebcam ? ('CREATE.TURN_OFF' | translate) : ('CREATE.TURN_ON' | translate) }}
        </button>
        <button
                *ngIf="showWebcam"
                (click)="takePhoto()"
                color="secondary"
                mat-raised-button>
            {{ 'CREATE.ANALYZE' | translate }}
        </button>
    </mat-card-actions>
</mat-card>

