@use '@angular/material' as mat;
@use "./styles/themes/light";
@use "./styles/themes/dark";

@include mat.core();
@include mat.all-component-themes(light.$my-app-light-theme);

.darkMode {
  @include mat.all-component-colors(dark.$my-app-dark-theme);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
